html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 20px 10px;
}

.centered {
  display: flex;
  justify-content: center;
}

.vertically-centered {
  display: flex;
  align-items: center;
  align-content: center;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}