html {
  background: url('./img/hands-bg.jpg') no-repeat right bottom fixed;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 15px;
}

.white-bg {
  background-color: rgb(255,255,255);
}